<section>
	<div class='row subheaderrow'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="subtitleheadertext">manage user</div>
		</div>
	</div>

	<div class="containermargin">
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="input-group">
					<input type="text" class="form-control userinput"
						placeholder="Enter User SSO ID" ng-model="selectedUser"
						ng-change="checkForGeUser(selectedUser)"> <span
						class="input-group-btn" ng-click="serachGEuser(selectedUser)">
						<button class="btn btn-secondary usersearch userSearchDisable"
							type="button"
							ng-class="{userSearchEnable:selectedUser.length>=9}" ng-disabled="! selectedUser || selectedUser.length<9">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
				<!-- 				<div class="input-group geuserdiv" ng-hide="hidelist">
					<ul class="list-group" ng-class="{geuserlist:gessolist.length>3}">
						<li class="list-group-item" ng-repeat="ssoObj in gessolist"
							ng-click="checkUser(ssoObj.sso)">{{ssoObj.sso}} ({{ssoObj.title}}) </li>
					</ul>
				</div> -->
				<div class="input-group geuserdiv" ng-hide="hidelist">
					<ul class="list-group" ng-class="{geuserlist:gessolist.length>3}">
						<li class="list-group-item" ng-repeat="sso in gessolist"
							ng-click="checkUser(sso)">{{sso}}</li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="floatsliderright">
					<label class="switch"> <input type="checkbox"
						ng-model="is_active" ng-disabled="disableForm">
						<div class="slider round"></div>
					</label>
				</div>
				<div class="checkboxtext">Activate User</div>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class='selectuserheader'>
					<span>Choose User Type</span>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 roleselection">
					<div class="singlerolefield">
						<input id="eta" type="radio" name="role" ng-model="group_id"
							value="1" class="hideInput" ng-disabled="disableForm" /> <label
							for="eta"> <span class="radiobutton radioUnSelected"
							ng-class="{radioSelected:group_id===1||group_id==='1'}"></span> <span
							class="roletext">ETA</span>
						</label>
					</div>
					<div class="singlerolefield ">
						<input id="fpg" type="radio" name="role" ng-model="group_id"
							value="2" class="hideInput" ng-disabled="disableForm" /> <label
							for="fpg"> <span class="radiobutton radioUnSelected"
							ng-class="{radioSelected:group_id===2||group_id==='2'}"></span> <span
							class="roletext">FG</span></label>
					</div>
					<div class="singlerolefield">
						<input id="etafpg" type="radio" name="role" ng-model="group_id"
							value="3" class="hideInput" ng-disabled="disableForm" /> <label
							for="etafpg"> <span class="radiobutton radioUnSelected"
							ng-class="{radioSelected:group_id===3||group_id==='3'}"></span> <span
							class="roletext">ETA/FG</span></label>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="floatsliderright">
					<label class="switch"> <input type="checkbox"
						ng-model="is_admin" ng-disabled="disableForm">
						<div class="slider round"></div>
					</label>
				</div>
				<div class="checkboxtext">Choose User as Admin</div>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 savebuttonalign">
					<button type="button" class="btn savebutton buttonformat"
						ng-click="AddOrModifyuser()" ng-disabled="disableForm">Save</button>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cancelbuttonalign">
					<button type="button" class="btn cancelbutton buttonformat"
						ng-click="goToHomeScreen()" ng-disabled="disableForm">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 	<datalist id="ssodatalist">
		<option ng-repeat="sso in ssolist" value="{{sso}}"></option>

	</datalist> -->
</section>