<section>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="monitercellbox removepaddingleft cellgreencolor"
				ng-class="{cellgreencolor:MagnetDetail.color==='2',cellredcolor:MagnetDetail.color==='4',cellgreycolor:MagnetDetail.color==='0',cellyellowcolor:MagnetDetail.color==='1',cellbluecolor:MagnetDetail.color==='3'}">
				{{MagnetDetail.display_name}}</div>
			</div>
			<div class="magentserialtext" ng-show="MagnetDetail.magnet_serial_number">SL No: {{MagnetDetail.magnet_serial_number}}</div>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 removepaddingright ">
				<div class="actiontabstyleMonitorMag firsttab"
					ng-click="selectedduration('1')"
					ng-class="{selectab:timeduration==='1'}">Recent</div>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 col-xs-3 removepaddingright removepaddingleft">
				<div class="actiontabstyleMonitorMag" ng-click="selectedduration('2')"
					ng-class="{selectab:timeduration==='2'}">Hourly</div>
			</div>
			<div
				class="col-lg-3 col-md-3 col-sm-3 col-xs-3 removepaddingright removepaddingleft">
				<div class="actiontabstyleMonitorMag" ng-click="selectedduration('3')"
					ng-class="{selectab:timeduration==='3'}">1 Day</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 removepaddingleft ">
				<div class="actiontabstyleMonitorMag lasttab" ng-click="selectedduration('4')"
					ng-class="{selectab:timeduration==='4'}">Weekly</div>
			</div>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="magmograph" style="width: 100%; height: 300px;"></div>
		</div>
	</div>
		<div class='row setThresholdValueRow'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="setthresholdvaluetext">Sensor Parameters</div>
		</div>
	</div>
	<div class="row ">
<!-- 		<div
			class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cellheader viewparametesheader">
			<p>
				<span class="viewparametertext"></span>
			</p>
		</div> -->
		<div>
			<div ng-repeat="sensor in sensorCurrentTimeSeriesList"
				ng-click="showSensorInGraph(sensor)">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sensorrow"
					ng-class="{senserselect:selectedsensor.name===sensor.name}">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<span class="glyphicon glyphicon-alert warningsign"
							ng-show="sensor.riskIndicator"></span> <span class="sensertext">{{sensor.name}}</span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<span class="senservaluetext" ng-switch="sensor.name">
							<span ng-switch-when="Compressor-Status">
							  <span ng-show="sensor.thresholdValue==1">ON</span>
							  <span ng-hide="sensor.thresholdValue==1">OFF</span>
							</span>
							<span ng-switch-when="Status">
								    <span ng-show="sensor.thresholdValue==1">Magnet in cell</span>
	                                <span ng-hide="sensor.thresholdValue==1">Empty cell</span>
	                        </span>
							<span ng-switch-default>{{sensor.thresholdValue | number:2}}</span>						
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>

<!-- Modal -->
<div id="myModal" class="modal fade cellposition" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="modal-title">
					<span class="monitercellbox cellgreencolor cellinModal">{{MagnetDetail.cell_id}}</span>
					<span class="magentserialtext">{{MagnetDetail.magnet_serial_number}}</span>
				</div>
			</div>
			<div class="modal-body">
				<p class="modalbodytext">Do you want to untag Magnet with SI No:
					{{MagnetDetail.magnet_serial_number}} from Cell
					{{MagnetDetail.cell_id}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal"
					ng-click="UntagMagnet()">UnTag Magnet</button>
			</div>
		</div>

	</div>
</div>
<!-- Modal End-->