<script type="text/ng-template" id="view/errorPage.html">
<section class="centerText">
    <div class="containermargin">
        <br>
        <br>
        <div class='row'>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <p class="whiteheader">
                       <div class="iIcon">i</div>
                        <span>SOMETHING WENT WRONG</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class='row'>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div>
                <p>kindly retype your GE SSO ID to login successfully</p>
                <p>or</p>
                <p>Please check with your admin if you have been allocated into
                    Magmon</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class='row'>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="centerText">
                <input type="button" ng-click="logout()" value="Login Screen"
                    class="btn btn-primary loginbutton" />
            </div>
        </div>
    </div>

</section>
</script>