<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no"/>
<title>BayWatch</title>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon-144px.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon-72px.png">
<link rel="apple-touch-icon-precomposed" sizes="117x114" href="images/favicon-114px.png">
<link rel="shortcut icon" sizes="144x144" href="images/favicon-144px.png">
<link rel="shortcut icon" sizes="72x72" href="images/favicon-72px.png">
<link rel="shortcut icon" sizes="117x114" href="images/favicon-114px.png">
<link rel="stylesheet" href="jsplugin/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="jsplugin/toaster/toaster.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/animation.css">
</head>
<body ng-app="magmo" ng-controller="mainController"
	data-target=".navbar" data-offset="50" ng-class={errorPageBody:atErrorPage} ng-clock>
	<div ng-hide="hidenavbar">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div>
					<span class="navbar-brand" ng-hide="atHomePage" ng-click="goback()">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</span> <span class="navbar-brand headertext" ng-bind="HeaderText"></span>
					<div class="logoutposition">
						<span class="dropdown ">
							<button class="btn dropdown-toggle logoutbuttoncolor"
								type="button" data-toggle="dropdown">
								<span class="glyphicon glyphicon-menu-hamburger hamgurgerstyle"></span>
							</button>
							<ul class="dropdown-menu dropdownmenu">
								<li ng-click="logout()"><span>Logout</span><span
									class="glyphicon glyphicon-log-out glyphiconPosition"></span></li>
							</ul>
						</span>
					</div>

				</div>

			</div>
		</nav>
		<br> <br> <br>
	</div>

	<div ui-view class="container"></div>
	<div id="loaderDiv" class="loaderDiv">
		<div class="loaderDivTranslucent"></div>
		<div class="loaderouterbody">
			<img id="loaderImage" src="images/loading.gif">
		</div>

	</div>
	<toaster-container toaster-options="{'position-class': 'toast-center'}"></toaster-container>
</body>
<script type="text/javascript" src="jsplugin/highstock.js"></script>
<script type="text/javascript" src="jsplugin/exporting.js"></script>
<script type="text/javascript" src="jsplugin/jquery/jquery-3.1.1-min.js"></script>
<script type="text/javascript" src="jsplugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="jsplugin/angular/angular.min.js"></script>
<script type="text/javascript"	src="jsplugin/angular/angular-ui-router-min.js"></script>
<script type="text/javascript" src="jsplugin/toaster/toaster.js"></script>
<script type="text/javascript" src="jsplugin/angular/angular-cookies.min.js"></script>


<script type="text/javascript" src="js/routes/magmoroutes.js"></script>
<script type="text/javascript" src="js/controller/logincntrl.js"></script>
<script type="text/javascript" src="js/controller/mainController.js"></script>
<script type="text/javascript" src="js/controller/homecntrl.js"></script>
<script type="text/javascript" src="js/controller/thresholdcntrl.js"></script>
<script type="text/javascript" src="js/controller/manageUsercntrl.js"></script>
<script type="text/javascript" src="js/controller/monitorMagnetcntrl.js"></script>
<script type="text/javascript" src="js/controller/assignMagnetcntrl.js"></script>
<script type="text/javascript" src="js/service/apiService.js"></script>
<script type="text/javascript" src="js/service/commonhttpservice.js"></script>
<script type="text/javascript" src="js/service/configservice.js"></script>
<script type="text/javascript" src="js/service/commonServices.js"></script>

<script>
	$(document).ready(function() {
		$("#loaderDiv").hide();
	});
</script>
</html>